[user]
	name = Jose Ovalle
	email = ovallej@seas.upenn.edu
[core]
	editor = vi
[push]
	default = simple
[alias]
	ci = commit
[alias]
        lc = log ORIG_HEAD.. --stat --no-merges
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
